body {
    height: 100vh;
    margin: 0;
    display: flex;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1; 
}

#init-game-button-container{
    display: flex;
    position: absolute;
    margin-bottom: 400px;
}

#main-game-container {
    display: flex;
}

#player-index {
    display: none;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages-new-game-button-container{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

#new-game-button-container{
    align-self: flex-start;
    position: absolute;
    left: 20px;
}

#messages-container {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto; 
}

#messages-container__player-turn-message {
    text-align: center;
    margin-bottom:10px;
}

#messages-container__error-message {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top:10px;
}

#messages-container__waiting-message {
    margin-bottom:10px;
}

#messages-container__information-message {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top:10px;
}

#choose-destination-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chooseDestinationsButton:disabled {
    cursor: not-allowed;
    position: relative;
}

#chooseDestinationsButton:disabled::after {
    content: "You must choose at least one destination";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

#chooseDestinationsButton:disabled:hover::after {
    opacity: 1;
    visibility: visible;
}

#possible-destinations-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-inline: 5px;
    
    padding: 10px;
}

#possible-destinations-list span {
    margin-inline: 5px;
}


#drawDestinationCardsButton {
    margin-left: 10px;
}

#game-container {
    display: flex;
    flex-grow: 1;
}

#board-and-train-cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 0px 20px 20px;
}

#board-and-deck-container {
    display: flex;
    flex-direction: row;
}

canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
}

#train-card-deck-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-train-cards-container img {
    transform: rotate(90deg);
    margin-inline: -20px;
    z-index: -100;
}

#player-cards-container{
    display: flex;
    align-items: flex-start;
    margin-right : 160px;
    margin-top: 20px;
}

#player-train-cards-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    margin-top: 10px;
}

.train-card-container {
    position: relative;
}

.card-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 40px;
    text-shadow:
        -1.5px -1.5px 0 black,
        1.5px -1.5px 0 black,
        -1.5px 1.5px 0 black,
        1.5px 1.5px 0 black;
}

.train-card-image {
    margin: 3px 5px;
    height: 10vh;
    width: 8vw;
}

.train-deck-image {
    margin-bottom: 10px;
    height: 11vh;
    width: 9vw;
    border: 3px solid brown;
}

.train-card-image:hover {
    cursor: pointer;
    filter: brightness(115%);
}

.train-card-image:active {
    transform: translateY(2px);
}

.face-up-deck-image__unavailable {
    filter: brightness(80%);
    cursor: not-allowed !important;
}

.face-up-deck-image__unavailable:hover {
    filter: brightness(80%) !important;
    cursor: not-allowed !important;
}

.player-stats-container {
    display: inline;
    font-size: 20px;
}

.player-stats-container .player-name {
    font-weight: bold;
}

.player-stats-counts-container span {
    padding-inline: 10px;
}

#player-destination-cards-container {
    padding-inline: 10px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    min-width: 200px;
}


.destination-cards-title {
    font-size: 18px;
    font-weight: bold;
}

.hovered-destination-card {
    color: purple;
    cursor: pointer;
}

#pending-destinations-container,
#completed-destinations-container {
    padding-inline: 10px;
}

#player-stats-container {
    display: flex;
    flex-direction: column;
    width:100%;
    padding-inline: 10px;
}

#player-stats-game-log-container{
    display: flex;
    flex-direction: column;
}

#game-log-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
}

#game-log-container__lines{
    display: flex;
    flex-direction: column;
    gap:10px
}

#game-log-container__title h3{
    margin: 0px 0px;
}

#newGameButton {
    height: 40px;
    width: 200px;
    margin-top: 20px;
    border-radius: 5px;
    border-width: 1px;
}

#game-not-visible{
    color : white;
    font-size: 20px;
}